[mysqld]
general_log = OFF
general_log_file = /var/log/mysql/query.log

slow_query_log = ON
long_query_time = 10 # seconds
slow_query_log_file = /var/log/mysql/slow.log
#log_queries_not_using_indexes = ON